<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('dashboard') }}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow nav-top">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('dashboard') }}">ViViTECH</a>
        <span class="badge badge-primary">
            Bem-vindo, {{ app.user.username }}.
        </span>
        <ul class="navbar-nav px-3 nav-top-logout">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('app_logout') }}">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('despesa.cadastro') }}">
                                <span data-feather="home"></span>
                                Cadastro de despesa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('receita.cadastro') }}">
                                <span data-feather="file"></span>
                                Cadastro de receita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('despesa.consulta') }}">
                                <span data-feather="shopping-cart"></span>
                                Consulta de despesa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('receita.consulta') }}">
                                <span data-feather="users"></span>
                                Consulta de receita
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-4">
                {% block body %}
                    <div class="container"
                         style="border: 1px solid #DEE2E6; border-radius: 5px; padding: 5px">
                        <div class="row">
                            <div class="col-sm">
                                Seu saldo neste mês:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm border-right">
                                <span class="badge badge-primary">Receitas</span>
                            </div>
                            <div class="col-sm border-right">
                                <span class="badge badge-danger">Despesas</span>
                            </div>
                            <div class="col-sm">
                                <span class="badge badge-dark">Saldo</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm border-right">
                                R$ {{ valor_receitas_mes|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-sm border-right">
                                R$ {{ valor_despesas_mes|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-sm">
                                R$ {{ saldo_mes|number_format(2, ',', '.') }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>